name: docker

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: build image
      run: docker build -t buckaroobanzay/minetest:${{ steps.extract_branch.outputs.branch }} .

    - name: test image
      run: ./test.sh
      env:
        BRANCH: ${{ steps.extract_branch.outputs.branch }}

    - name: Dockerhub login
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

    - name: Push image
      run: docker push buckaroobanzay/minetest:${{ steps.extract_branch.outputs.branch }}


