name: docker

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: build
      run: docker build -t buckaroobanzay/minetest:${{ GITHUB_REF#refs/heads/ }} .

    - name: test
      run: ./test.sh
      env:
        BRANCH: ${{ GITHUB_REF#refs/heads/ }}

    - name: docker publish
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: buckaroobanzay/minetest
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true
        cache: true

